<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/02_Variables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Variables

## Create a Variable

### Notes

* A variable is created the moment you assign a value to it
* Variables don't need to be declared with any *type*
* Variables can change types even after they've been set


The variable name goes on the left side of the assignment operator (`=`), and the value or expression you want to assign to that variable goes on the right side. It will be like this:

```python
variable_name = value
```

### Examples

In [ ]:
base_salary = 100000

You can also perform operations using variables.

In [1]:
bonus_rate = 0.1

total_salary = base_salary * (1 + bonus_rate)

NameError: name 'base_salary' is not defined

But how the heck do we see what the total salary is? We can either print the variable using the `print()` function or call it.

In [ ]:
total_salary

110000.00000000001

In [ ]:
# Calling a variable
total_salary

110000.00000000001

## Variables aren't only numbers

### Notes

* We can store all different kinds of data in variables
* **Note:** We'll cover more on types in a bit

### Example
* Create variables to store the following information about a job posting:
  * Job ID (integer)
  * Company Name (string)
  * Salary Rate (string, but consider how you might store this as a numerical type for calculations)
  * Job Work From Home (boolean)

In [ ]:
job_id = 101
company_name = 'DataWiz Inc.'
job_title = 'Data Analyst'
job_salary = 125000
job_work_from_home = True

We can use the `print()` function to return all the variables:

In [ ]:
# This won't print out the variable name.
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job Title:   ", job_title)
print("Salary:      ", job_salary)
print("WFH:         ", job_work_from_home)

Job ID:       101
Company Name: DataWiz Inc.
Job Title:    Data Analyst
Salary:       125000
WFH:          True

## Objects in Python

Something to understand: everything stored in Python is considered an **object**. This includes all the data types we've talked about and will talk about.

Objects are a foundational concept in Python, and we'll explore more about what they do in the upcoming sections.